<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Age Parser</title>
</head>

<body>
    <div class="container mt-3">
        <div class="p-45">
            <h3 class="title row">Age for humans</h3>
            <textarea id="textareaL" class="row textarea form-control" placeholder="GA28w+3d"></textarea>
        </div>
        <div class="p-10">
            <button class="btn" id="convertLR">&#x25b6;</button>
            <button class="btn" id="convertRL">&#x25c0;</button>
        </div>
        <div class="p-45">
            <h3 class="title row">Age in days</h3>
            <textarea id="textareaR" class="row textarea form-control" placeholder="-67"></textarea>
        </div>
    </div>

    <script src="index.min.js"></script>
</body>

</html>