html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: table;
}

.textarea {
    resize: none;
    width: 100%;
    height: 80% !important;
    margin: 0;
}

.title {
    justify-content: center;
}

.p-45,
.p-10 {
    display: table-cell;
    vertical-align: middle;
    align-content: center;
}

@media (min-width:800px) {

    .p-45,
    .p-10 {
        height: 100%;
    }

    .p-45 {
        width: 47%;
    }

    .p-10 {
        width: 5%;
        text-align: center;
    }
}

@media (max-width:800px) {

    .p-45,
    .p-10 {
        display: block;
        width: 100%;
    }

    .p-45 {
        height: 47%;
    }

    .p-10 {
        text-align: center;
        height: 5%;
    }
}